body{
    margin: 0;
    padding: 0;
}

#container{
    display: flex;
    flex-wrap: wrap;
    max-width: 100vw;
    max-height: 100vh;
}

.gridSquare{
    box-sizing: border-box;
    height: 5.25vh;
    width: 5.25vw;
    background-color: #345659;
}